<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Novo Produto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="container">
<h1 class="h1">Novo Produto</h1>
<form action="#" th:action="@{/mercado}" th:object="${produto}" method="post">
    <div class="mb-3">
        <label class="form-label">Nome:</label>
        <input class="form-control" type="text" th:field="*{nome}" />
    </div>
    <div class="mb-3">
        <label class="form-label">Tipo:</label>
        <input class="form-control" type="text" th:field="*{tipo}" />
    </div>
    <div class="mb-3">
        <label class="form-label">Setor:</label>
        <input class="form-control" type="text" th:field="*{setor}" />
    </div>
    <div class="mb-3">
        <label class="form-label">Tamanho:</label>
        <input class="form-control" type="text" th:field="*{tamanho}" />
    </div>
    <div class="mb-3">
        <label class="form-label">Preço:</label>
        <input class="form-control" type="number" th:field="*{preco}" />
    </div>
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <button class="btn btn-primary" type="submit">Salvar</button>
        <a class="btn btn-secondary" href="/mercado">Cancelar</a>
    </div>
</form>
</body>
</html>
