<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Mercadinho Show Da Bola</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="container">
<h1 class="h1">Lista de Produtos</h1>
<a class="btn btn-primary" href="/mercado/novo">Adicionar Novo Produto</a>

<table class="table">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Tipo</th>
        <th scope="col">Setor</th>
        <th scope="col">Tamanho</th>
        <th scope="col">Preço</th>
        <th scope="col">Ações</th>
    </tr>
    <tr th:each="produto : ${produtos}">
        <th scope="col" th:text="${produto.id}"></th>
        <td th:text="${produto.nome}"></td>
        <td th:text="${produto.tipo}"></td>
        <td th:text="${produto.setor}"></td>
        <td th:text="${produto.tamanho}"></td>
        <td th:text="${produto.preco}"></td>
        <td>
            <a class="btn btn-secondary" th:href="@{/mercado/atualizar/{id}(id = ${produto.id})}">Editar</a>
            <a class="btn btn-danger" th:href="@{/mercado/deletar/{id}(id = ${produto.id})}">Deletar</a>
        </td>
    </tr>
</table>
</body>
</html>
